.fruitANDveg{
  font-weight: 600 ;
}
.buttons{
   display: flex;
   justify-content: end;
   text-align: end;
}
.filterButton{
    border: 1px solid #A9A9A9;
    border-radius: 10px;
}
.filterButtonSecond{
    margin-left: 20px;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
}